{% extends "hospital/base.html" %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Sn</th>
            <th scope="col">Patients</th>
            <th scope="col">Doctor</th>
            <th scope="col">Ongoing Treatments</th>
            <th scope="col">Available beds</th>
            <th scope="col">Discharge</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ patient.name }}</td>
        <td>{{ patient.doctor.name }}</td>
        <td>{{ patient.treatment.name }}</td>
        <td>{{ patient.bed.number }}</td>
        <td>{{ patient.discharge_date }}</td>
        <td>{{ patient.status }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock body %}
